*
!.gitignore
!**.c
!**.h
!Makefile
!chapter1
!chapter2
!chapter3
!chapter4
!chapter5
!chapter6
!chapter7
!chapter8
!chapter1/**.c
!chapter2/**.c
!chapter3/**.c
!chapter4/**.c
!chapter4/Makefile
!chapter5/**.c
!chapter6/**.c
!chapter7/**.c
!chapter8/**.c
